body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
}

.daynumber, .displayoverenvelope {
    margin: 10px 0;
}

.envelope {
    width: 500px;
    margin: 20px 0;
}
