/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(images/forest1.png);
    background-size: cover; /* Make the background image cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Fallback background color */
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    margin-bottom: 20px;
    font-style: oblique;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: blueviolet;
    background-color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: bisque;
    color: black; /* Change text color on hover for better contrast */
}

.game-container, .about-container {
    text-align: center;
}

/* Override styles for buttons within .game-container and .about-container */
.game-container button, .about-container button {
    background-color: #f00;
    color: #fff;
}

.game-container button:hover, .about-container button:hover {
    background-color: #c00;
}

/* the fading */
.container {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .container.fading {
    opacity: 0;
  }