/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/forest1.png);
    background-size: cover; /* Make the background image cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    margin-bottom: 20px;
    font-style: oblique;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: blueviolet;
    background-color: black;
}

button:hover{
    background-color: bisque;
}